/*/.classpath
/*/.project
/*/.settings
/*/bin
/*/gen
/*/target
/*/build
/out
/.idea
/.project
*.iml
node_modules
import_test
teedy-importer-linux
teedy-importer-macos
teedy-importer-win.exe
docs/*
!docs/.gitkeep

#macos
.DS_Store

data/docs/db/docs.mv.db
data/docs/log/docs.log

# Database files
*.mv.db
*.trace.db

# Log files
*.log
logs/

target/
*.class
*.jar
*.war